@charset "UTF-8";

/* Paleta de cores, da mais clara a mais escura: #F2F2F2 #FDFCBA #DFBD54 #8B6846 #8F0302 */

body {
    background-color: #F2F2F2;
    background-image: url(/imagens/maos-aos-alto.jpg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    text-align: center;
    margin: auto;
    background-image: url(imagens/maos-aos-alto.jpg);
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
}
div {
    border: 1px solid #8F0302;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    color: #593122;
    margin: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
}